
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:800');

*{
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Alegreya Sans', sans-serif;
	overflow-x: hidden;
}

.nav{ height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: black;
	opacity: .9;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.7s;
 }

.nav a{
	display: block;
	padding: 10px 30px;
	font-size: 20px;
	text-decoration: none;
	color: white;
}

.nav a:hover{
	color: red;
	transition: 1s;
}

.nav .close{
	position: absolute;
	top: 0;
	right: 12px;
	margin-left: 50px;
	font-size: 30px;
}

.slide a {
	color: white;
	font-size: 30px;
}

#content{
	padding: 20px;
	transition: margin-left 0.7s;
	overflow: hidden;
	width: 100%;
	background: black;
	height: 40px;
}

.heading{
	width: 100%;
	float: left;
	background-color: #ffac47;
	background-size: cover;
	height: 650px;

}

.div1{
	float: left;
	height: 200px;
	width: 80%;
	padding-left: 20px;
	padding-top: 100px;
}

.div2{
	float: right;
	font-weight: bold;
	padding-right: 150px;
	position: relative;
	bottom: 250px;
}

.div2 h1{
	font-size: 30px;
	padding-left: 20px;
}
.div2 p1{
	font-size: 80px;
}

.div3{
	float: right;
	height: 200px;
	width: 80%;
	padding-right: 2px;
}

.slide{
	text-align: center;
}

.img{
	float: right;
	position: absolute;
	right: 0;
	margin-right: 0;
	margin-left: auto;
	display: block;
	width: 200px;
	height: 200px;
	margin: 10px;
	display: block;
	width: 200px;
	max-width: 100%;
	padding-top: 300px;
}

.last{
	float: left;
	padding-left: 40px;
	position: absolute;
	bottom: 100px;
}

.pup{
	float: left;
	margin-top: 0;
}

.popy{
	float: right;
	position: absolute;
	right: 0;
	margin-right: 0;
	margin-left: auto;
	display: block;
	width: 200px;
	height: 200px;
	margin: 10px;
	display: block;
	width: 200px;
	max-width: 100%;
	margin-top: 80px;
}
.div2 img{
	margin-top: 20px;
	position: relative;
	bottom: 60px;
}

.copy{
	background: #ffac47;
}

.copy img{
	float: right;
	position: absolute;
	right: 0;
	margin-right: 0;
	margin-left: auto;
	display: block;
	width: 200px;
	height: 80px;
	margin: 10px;
	display: block;
	width: 100px;
	max-width: 100%;
}

.div2 p2{
   font-size: 25px;
}

.div2 p3{
   font-size: 25px;
}

.div2 p4{
   font-size: 25px;
   letter-spacing: 2px;
}

.div2 .btnbanner{
	width: 150px;
	height: 50px;
	background: #ffac47;
	color: #fff;
	font-weight: bold;
	border-radius: 20px 20px;
	text-align: center;
	font-size: 14px;
	border-color: white;
	margin-top: 20px;
}
 
.div2 .btnbanner:hover{
	background: #fff;
	color: #ffac47;
}